<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        .name_ {
          font-weight: bold;
          font-size: 18px;
        }
        .email {
          color: blue;
        }
      </style>
</head>
<body>
    <p>
      <span class="name_">Hello, {{ user.username }}</span><br>
      <span class="email">Email Id : {{ user.email }}</span>
    </p></body>
</html>